# Core Web App
streamlit

# Data & Viz
pandas
matplotlib
plotly
wordcloud
nltk
langchain-huggingface
# AI & LLM (The heavy hitters)
langchain
langchain-google-genai
langchain-community
langchain-groq
google-genai
chromadb
sentence-transformers
torch
transformers

# Utilities
pypdf
python-dotenv



